:root {
  --bg-light: hsl(252, 30%, 95%);
  --bg-card-light: hsl(252, 30%, 100%);
  --text-light: hsl(252, 15%, 65%);
  --bg-dark: hsl(252, 30%, 10%);
  --bg-card-dark: hsl(252, 30%, 17%);
  --text-dark: hsl(210, 17%, 98%);
  --color-primary: hsl(252, 75%, 60%);
}

@media(prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --bg-card: var(--bg-card-dark);
    --text: var(--text-dark);
  }
}

[data-theme='dark'] {
  --bg: var(--bg-dark);
  --bg-card: var(--bg-card-dark);
  --text: var(--text-dark);
}

@media(prefers-color-scheme: light) {
  :root {
    --bg: var(--bg-light);
    --bg-card: var(--bg-card-light);
    --text: var(--text-light);
  }
}

[data-theme='light'] {
  --bg: var(--bg-light);
  --bg-card: var(--bg-card-light);
  --text: var(--text-light);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  outline: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

ul {
  list-style: none;
}

.app {
  background: var(--bg);
}

.theme {
  transition: all 0.5s;
  background: var(--bg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.theme__moon {
  color: var(--color-primary);
}

.footer {
  background: var(--bg-card) !important;
  color: var(--color-primary);
  font-weight: 500;
}

.footer__copy {
  color: var(--color-primary) !important;
  font-weight: 600;
}