:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

body {
    background: var(--color-light);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: #fff;
}

.btn-secondary {
    background: var(--color-gray);
    color: #fff;
}

.btn-danger {
    background: var(--color-danger);
    color: #fff;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

/* Navbar */
.navbar {
    background: var(--color-white);
    padding: 1rem 0;
}

.nav-logo {
    display: flex;
    align-items: center;
}

nav .search-bar {
    display: flex;
    align-items: center;
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

nav .search-bar input[type="text"] {
    background: transparent;
    width: 20vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="text"]::placeholder {
    color: var(--color-gray);
}

.search__bar-icon {
    color: var(--color-gray);
}

.nav__user-photo {
    cursor: pointer;
    width: 40px;
}

.nav__dropdown-item,
.nav__dropdown-item:hover {
    color: var(--color-gray);
}

.nav__logout,
.nav__logout:hover {
    color: var(--color-danger);
}

.btn-login {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home__title,
.login__title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 4.5rem;
}

.home__title-icon,
.login__title-icon {
    width: 4rem;
    height: auto;
}

.home__description {
    font-size: 1.5rem;
    color: var(--color-gray);
}

.login__text,
.register__text {
    color: var(--color-gray);
}

.card,
.card-header {
    background: var(--color-white) !important;
}

.login__link,
.register__link,
.login__label,
.register__label,
.post__title,
.post__user,
.profile__title,
.profile__name,
.dashboard__title,
.dashboard__username,
.profile__label,
.profile__title,
.profile__date,
.not__found-title,
.profile__name-user,
.profile__information {
    color: var(--color-primary);
}

.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block;
    flex-shrink: 0 !important;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.left {
    height: max-content;
    top: var(--sticky-top-left);
}

.profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.left,
.sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    color: var(--color-gray);
    transition: all 300ms ease;
    position: relative;
}

.menu-item:hover {
    background: var(--color-light);
    color: var(--color-gray);
}

.sidebar-icon {
    width: 30px;
    margin-left: 2rem;
    position: relative;
}

.sidebar__btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
}

.post__action {
    cursor: pointer;
    color: var(--color-gray);
}

.post__dropdown-delete {
    color: var(--color-danger);
}

.post__dropdown-delete:hover {
    color: var(--color-danger);
}

.post__action-comment {
    color: var(--color-gray);
}

.education__title,
.experience__title {
    color: var(--color-gray);
}

.not__found-img {
    animation: animates 2s linear infinite alternate;
}

.not__found-number {
    color: var(--color-primary);
    font-size: 5rem;
    font-weight: 700;
    margin-top: 10rem;
    animation: animatestext 2s linear infinite alternate;
}

.not__found-title {
    font-weight: 700;
}

@keyframes animates {
    0% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(-5%);
    }
}

@keyframes animatestext {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.footer {
    background: var(--color-white) !important;
    color: var(--color-primary);
    font-weight: 500;
}

.footer__copy {
    color: var(--color-primary) !important;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {

    .home__title {
        font-size: 4rem;
    }

    .home__title-icon {
        width: 3rem;
    }

    .profile__name {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .login__title {
        font-size: 2.8rem;
    }

    .login__title-icon {
        width: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .home {
        margin-top: 3rem;
    }

    .home__title {
        font-size: 3rem;
    }

    .home__title-icon {
        width: 3rem;
    }
}