:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
}

body {
    background: var(--color-light);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: #fff;
}

.btn-secondary {
    background: var(--color-gray);
    color: #fff;
}

.btn-danger {
    background: var(--color-danger);
    color: #fff;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

/* Navbar */
.navbar {
    background: var(--color-white);
    padding: 1rem 0;
}

.nav-logo {
    display: flex;
    align-items: center;
}

nav .search-bar {
    display: flex;
    align-items: center;
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

nav .search-bar input[type="text"] {
    background: transparent;
    width: 20vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="text"]::placeholder {
    color: var(--color-gray);
}

.nav-link {
    color: var(--color-primary);
}

.nav__user-photo {
    width: 40px;
}

.btn-login {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home__title,
.login__title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 4.5rem;
}

.home__title-icon,
.login__title-icon {
    width: 4rem;
    height: auto;
}

.home__description {
    font-size: 1.5rem;
    color: var(--color-gray);
}

.login__text,
.register__text {
    color: var(--color-gray);
}

.login__link,
.register__link {
    color: var(--color-primary);
}

.login__label,
.register__label {
    color: var(--color-primary);
}

.post__title,
.post__user,
.profile__title {
    color: var(--color-primary);
}

.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block;
    flex-shrink: 0 !important;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.post__action {
    cursor: pointer;
    color: var(--color-gray);
}

.post__dropdown-delete {
    color: var(--color-danger);
}

.post__dropdown-delete:hover {
    color: var(--color-danger);
}

.post__action-comment {
    color: var(--color-gray);
}

.footer {
    color: var(--color-primary);
    font-weight: 500;
}

.footer__copy {
    color: var(--color-primary) !important;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {

    .home__title {
        font-size: 4rem;
    }

    .home__title-icon {
        width: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .login__title {
        font-size: 2.8rem;
    }

    .login__title-icon {
        width: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .home {
        margin-top: 3rem;
    }

    .home__title {
        font-size: 3rem;
    }

    .home__title-icon {
        width: 3rem;
    }
}